section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}
h2{
    margin:0;
    text-align: left;
    padding-top: 20px;
    padding-bottom:20px;
    width: 100%;
    border-bottom: 1px;
    background-color: rgba(196, 196, 196);
}

.container{
    min-height: 500px;
}

.textbox{
    display: flex;
    align-items: flex-start;
    border: 1px solid;
    padding: 20px;
    background-color: rgba(196, 196, 196);

}

textarea{
    min-width: 500px;
    min-height: 120px;
}
button{
    background-color:rgb(0,102,204);
    color:rgb(255, 255, 255);
    height: 35px;
    width:65px;
    border-radius: 5px;    
}

.msgEnviada{
    margin:2rem 0 0;
    padding:10px;
    width:500px;
    border:1px solid;
}